
<form>
    <select class="select2 form-control custom-select" style="width: 100%; height:36px;" #moduloseleccionado (change)="recuperarobjetos(moduloseleccionado.value)">
      <option>Módulo</option>
      <optgroup label="Seleccione un módulo">
          <option *ngFor="let idx of modulos" value="{{idx.Codigo}}" >{{idx.Codigo}} - {{idx.Descripcion}}</option>
      </optgroup>
    </select>
    <select class="select2 form-control custom-select" style="width: 100%; height:36px; margin-top: 10px">
      <option>Objeto</option>
      <optgroup label="Seleccione un objeto del sistema">
          <option *ngFor="let idx of objetos" value="{{idx.Codigo}}">{{idx.Codigo}} - {{idx.Descripcion}}</option>
      </optgroup>
    </select>
    <div style="margin-top:10px;">
        <app-finder></app-finder>
    </div>
</form>
